.user-card {
  margin-top: 30px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  width: 350px;
  margin-inline: auto;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 255, 150, 0.2);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #00ff9d;
}

.error {
  color: #ff4444;
  margin-top: 10px;
}

footer {
  margin-top: 40px;
  color: #aaa;
}

.author {
  color: #00ff9d;
}
